<footer class="page-footer">
  <div class="container center-align">
    <div class="row">
      <div class="col">
        <h5 class="white-text">Acknowledgement</h5>
        <p class="grey-text text-lighten-2">
          This project has been developed by a team of four members as part of
          Web/Mobile Programming course in Masters at University of Missouri
        </p>
      </div>
    </div>
    <div class="row">
      &nbsp; © 2022 F1 Fan Club &nbsp;&nbsp;&nbsp; || &nbsp;&nbsp;&nbsp;All the
      images have been taken from <b>&nbsp;Google</b>
    </div>
  </div>
</footer>
