<div class="row check">
    <div class="col-sm-10 col-sm-offset-1">
        <h4 class="grey-text text-darken-2">F1 Top Drivers</h4>
        <div class="col-md-4 col-sm-6" *ngFor="let winner of winnerDetails">
            <div class="card-container z-depth-2">
                <div class="card">
                        <div class="cover">
                        </div>
                        <div class="user">
                            <img src="{{imageUrl}}" class="responsive-img" style="max-height:300px;"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">{{winner.Driver.givenName}} {{winner.Driver.familyName}}</h3>
                                <p class="profession">{{winner.Driver.dateOfBirth}}</p>
                                <p class="profession">{{winner.Driver.nationality}}</p>
                                <p class="text-center"> <b>{{winner.Driver.code}}</b> - <b>{{winner.Driver.permanentNumber}}</b></p>
                            </div>
                        </div>
                </div>
                <!-- end card -->
            </div>
        </div>
    </div>
</div>