<div class="header-image valign-wrapper desktop-view">
  <div style="width: 100%">
    <div class="row center-align">
      <div class="col s12 m4 l4">
        <span class="red-text"
        ><i class="large material-icons" style="font-size: 100px"
        >people</i
        ></span
        >
        <div class="col s12 offset-s1 red-text">
          <h5>Exclusive User Access Features</h5>
        </div>
      </div>

      <div class="col s12 m4 l4">
        <span class="red-text"
        ><i class="large material-icons" style="font-size: 100px"
        >tag_faces</i
        ></span
        >
        <div class="col s10 offset-s1 red-text">
          <h5>50+ Users</h5>
        </div>
      </div>

      <div class="col s12 m4 l4">
        <span class="red-text"
        ><i class="large material-icons" style="font-size: 100px"
        >drive_eta</i
        ></span
        >
        <div class="col s10 offset-s1 red-text">
          <h5>F1 Stats since 1950</h5>
        </div>
      </div>
    </div>
  </div>
</div>
