<div class="row" style="background-color: #f3f3f3">
  <h4 class="center-align">Our Team</h4>
  <br /><br />
<div class="col offset-s1">
  <div class="col center-align">
    <img
      src="assets/team/mem1.png"
      style="max-width: 150px"
      class="responsive-img circle z-depth-5 hoverable"
    />
    <div class="col s12">
      <br />
      <p class="center-align">Sarath</p>
      <p class="center-align des">Master's Student</p>
      <p class="center-align">
        <a href="https://www.linkedin.com/in/kunisettysarath/" target="_blank"
        ><img
          src="assets/logo/linked-in.png"
          alt="Linked In"
          class="responsive-img"
          width="35px"
        /></a>
      </p>
      <br /><br />
    </div>
  </div>

  <div class="col center-align">
    <img
      src="assets/team/mem2.png"
      style="max-width: 150px"
      class="responsive-img circle z-depth-5 hoverable"
    />
    <div class="col s12">
      <br />
      <p class="center-align">Venu Linga</p>
      <p class="center-align des">Master's Student</p>
      <p class="center-align">
        <a href="https://www.linkedin.com/in/venu-linga-16ab43142" target="_blank"
        ><img
          src="assets/logo/linked-in.png"
          alt="Linked In"
          class="responsive-img"
          width="35px"
        /></a>
      </p>
      <br /><br />
    </div>
  </div>

  <div class="col center-align">
    <img
      src="assets/team/mem3.png"
      style="max-width: 150px"
      class="responsive-img circle z-depth-5 hoverable"
    />
    <div class="col s12">
      <br />
      <p class="center-align">Dharma Teja</p>
      <p class="center-align des">Master's Student</p>
      <p class="center-align">
        <a href="https://www.linkedin.com/in/dharma-teja-526270237" target="_blank"
        ><img
          src="assets/logo/linked-in.png"
          alt="Linked In"
          class="responsive-img"
          width="35px"
        /></a>
      </p>
      <br /><br />
    </div>
  </div>

  <div class="col center-align">
    <img
      src="assets/team/mem4.png"
      style="max-width: 150px"
      class="responsive-img circle z-depth-5 hoverable"
    />
    <div class="col s12">
      <br />
      <p class="center-align">Avinash</p>
      <p class="center-align des">Master's Student</p>
      <p class="center-align">
        <a href="https://www.linkedin.com/in/t-avinash-reddy" target="_blank"
        ><img
          src="assets/logo/linked-in.png"
          alt="Linked In"
          class="responsive-img"
          width="35px"
        /></a>
      </p>
      <br /><br />
    </div>
  </div>
</div>
</div>